services:
  my-backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/myfolder/src
      - /myfolder/node_modules # node_modules는 host에 덮어쓰지 않게 격리

    ports:
      - 50000:50000
    env_file:
      - .env

  my-database:
    image: postgres:latest
    environment:
      MYSQL_DATABASE: 'timeforgreen'
      MYSQL_ROOT_PASSWORD: 'timeforgreenpassword'
    ports:
      - 5432:5432
